#root {
  display: flex;
  flex-direction: column;
  background-color: rgb(190, 188, 188);
  min-height: 100dvh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.carrito {
  display: flex;
  align-items: center;
}

.carrito__icono {
  width: 8vw; 
  height: auto; 
  max-width: 50px; 
  min-width: 20px;
}

.main {
  flex-grow: 1;
}

.barra-nav {
  display: flex;
  gap: 30px;
}

.barra-nav__link {
  color: rgb(42, 75, 165);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.6rem;
}

.barra-nav__link.active {
  color: white;
}

.fluid-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.product-card {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 0 3px black;
}

.product-card__image {
  width: 100%;
}
